.file-container {
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 28em;
}

.show-file {
  display: flex;
}

.file-container img {
  height: 400px;
  width: 400px;
}

.drop-area {
  width: 500px;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  content: "Upload your JSON File";
  display: inline-block;
  background-color: var(--pink);
  border: 0px solid var(--red);
  border-radius: 10px;
  padding: 1em;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 2rem;
}

/*
.btn-file {
  background-color: var(--pink);
  display: flex;
  width: 350px;
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 20px;
  color: var(--purple);
  padding: 20px;
}
*/