* {
  margin: 0em;
  padding: 0em;
}

:root {
  --pink: #F28D9F;
  --purple: #4B4573;
  --yellow: #F2C48D;
}

body {
  background-color: var(--purple);
  height: 100vh;
  width: 100vw;
  font-family: monospace;
}

.file-container {
  display: none; 
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.show-file {
  display: flex;
}

.file-container img {
  height: 400px;
  width: 400px;
}

input[type="file"] {
  display: none;
}

.btn-file {
  background-color: var(--pink);
  display: flex;
  width: 350px;
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 20px;
  color: #4B4573;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4B4573;
}

.header-flat {
  background-color: var(--pink);
  height: 12%;
  width: 100%;
  position: absolute;
}

.header-center {
  background-color: var(--pink);
  height: 18%;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
  border-radius: 100%;
}

.header-center img {
  height: 100px;
  width: 100px;
}

.header-center span {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}